.task1 .item {
  position: absolute;
  left: 200px;
  bottom: 150px;
}

.task2 .item {
  position: absolute;
  left: 340px;
  bottom: 180px;
}

.task3 .item {
  position: absolute;
  right: 0;
}

.container4 {
}

.task4 {
  width: 1000px;
}
.task4 .item {

}

.task5 .item3 {
  background-color: green;
  position: absolute;
  top: 0;
}
.task5 .item1 {
  background-color: rgb(0, 76, 255);
  position: relative;
  left: 40px;
  top: 50px;
}
.task5 .item2 {
  background-color: red;
  position: absolute;
  left: 20px;
  bottom: 290px;
}

.task6 .item {
  position: relative;
}

.task7 .item {
  position: absolute;
  right: 0;
  margin: 20px 5px;
}

.task8 .item1 {
}
.task8 .item2 {
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}

.task8 p {
}

.task9 .item1 {
  height: 200px;
}
.task9 .item2 {
  position: absolute;
  top: 0;
  right: 0;
}
.task9 p {
}

.task10 .item1 {
}
.task10 .item2 {
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
}
.task10 p {
  gap: 20px;
}

.task11 .img-item {
  position: absolute;
  left: 170px;
  width: 54%;
  height: 100%;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
}

.task14 .img-item {
  position: absolute;
  left: 170px;
  width: 54%;
  height: 100%;
}

.task15 .img-item {
  height: 50%;
  width: 26%;
  position: absolute;
  top: 100px;
  right: 0;
}

.task16 .img-item {
  height: 50%;
  width: 27%;
  position: absolute;
  left: 0;
}

.task17 .img-item {
  position: absolute;
  right: 270px;
  bottom: 0;
  height: 50%;
  width: 27%;
}

.task18 .img-item {
  position: relative;
  left: 40px;
  top: 25px;
  height: 50%;
  width: 27%;
}

.task19 .img-item {
  height: 50%;
  width: 27%;
  position: absolute;
  right: 270px;
  top: 100px;
}

.task20 {
  object-fit: none;
}

.task21 {
}

.task22 {
}

html {
}
